body{
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ff9d00;
}

main{
    background-color: #0707077a;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 50%;
    height: 50%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.259);;
}

input{
    height: 25px;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
}

.result{
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

button{
    margin: 50px 0 0 0;
    color: #ff9d00;
    width: 100%;
    height: 30px;
    border: 1px solid #ff9d00;
    border-radius: 15px;
    cursor: pointer;
    background-color: #000;
}

button:hover{
    background-color: #ff9d00;
    color: #000;
    transition: 0.3s;
}